*{
    font-family: 'Montserrat', sans-serif;
    background: #030e57;
    color: #fcfcfd;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #030e57;
    color: #fcfcfd;
}

h2{
    font-size: 3.5rem;
    margin: 1rem;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
}

.top_buttons{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* flex-direction: column; */    
    justify-content: space-around;
    text-align: center;
}

.buttons__footer {  
    display: flex;  
    flex-direction: column;
}

.buttons button{
    /* color: #fcfcfd; */
    font-size: 2rem;
    padding: .5rem 1rem;    
    margin: 5% 3%;
    /* box-sizing: border-box; */
    border-radius: 3px;
    border: solid 1px #008BF3;
    /* background: #030e57; */
}



.screen2 {
    text-align: center;
    display: none;
    color: white;
}


.screen3 {
    display: none;
}




input{
    border: none;
    border-bottom: whitesmoke;
    text-align: center;
    font-size: 2rem;
    
}







